.root{
    -fx-background-color: White;
}

.label{
    -fx-text-fill: Black;
    -fx-font-family: "Lucida console";
    -fx-font-size: 20;
}

#titleLabel{
    -fx-font-size: 60;
}

.scene{
    -fx-alignment: centre;
}

#day_night {
    -fx-background-color: #3092b8;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20;
  }